<header class="header clearfix">
            <div class="container">
                <a href="http://ofan.win/" class="logo fl"><i></i><h1>CarrotWWW❤GameNote</h1></a>
                <nav class="nav fr c_main">
                    <a href="/note/">note</a>
                    <a href="/">demo</a>
                    <a href="/">tool</a>
                    <a href="/">contact</a>
                </nav>
            </div>
        </header>